DECODO_USER=your_decodo_user
DECODO_PASS=your_decodo_pass
DECODO_HOST=gate.decodo.com
DECODO_PORT=7000

DECODO_MOBILE_USER=user-your_mobile_user-sessionduration-1
DECODO_MOBILE_PASS=your_mobile_pass
DECODO_MOBILE_PORT=40001

DECODO_REGION_RU_HOST=ru.decodo.com
DECODO_REGION_KZ_HOST=kz.decodo.com
DECODO_REGION_GLOBAL_HOST=gate.decodo.com

DECODO_GOOGLE_USER=your_google_proxy_user
DECODO_GOOGLE_PASS=your_google_proxy_pass
DECODO_GOOGLE_HOST=gate.decodo.com
DECODO_GOOGLE_PORT=10000

SERPER_KEY=your_serper_api_key
YANDEX_API_KEY=your_yandex_cloud_api_key
YANDEX_FOLDER_ID=your_yandex_folder_id
